<div class="editor-with-buttons">

    <div id="HL_Learning_Activity_content_wrapper" class="modal-content-wrapper">
	<!-- HTML editor tab -->
        <div class="modal_tab_view modal_tab_editor" data-mode="editor">
            <p>editor</p>
        </div>

        <!-- XBlock options -->
        <div class="modal_tab_view modal_tab_settings" data-mode="settings">
    		<!-- this seems like the form for modifying the model fields -->
            <p class="chx_desc">Display Name</p>
            <input type="text" class="chx_display_name" value="{{ self.display_name }}">
        </div>

    </div>

    <div class="xblock-actions">
        <ul>
          <li class="action-item">
            <a id="modal_submit" href="#" class="button action-primary save-button">Save</a>
          </li>
          <li class="action-item">
            <a href="#" class="button cancel-button">Cancel</a>
          </li>
        </ul>
      </div>
</div>
