<h2>TITLE OF ACTIVITY</h2>

<p>
    In this activity, ... add introductory text to give
    the student context as to what is the expected of them.
</p>

<h4>The results for this activity should include</h4>
<ul>
    <li>
        Add what the student is expected to return to the instructor upon completing this activity
    </li>
</ul>

<h4>Resources</h4>
<ul>
    <li>a list of resource links to documents needed during the course of this activity</li>
</ul>

<h3>Instructions</h3>
<ol>
    <li>A list of steps describing actions the student is expected to perform</li>
    <li>These should be as descriptive as possible.</li>
</ol>

<h4>Summary Questions</h4>
<ol>
    <li>
        Supplementary questions, not directly tied to the activity, developed to quiz the
        student on concepts covered or evaluate methods used in this activity.
    </li>
</ol>
