<h2>TITLE OF ACTIVITY</h2>

<h3>The results for this activity should include</h3>
<ul>
    <li>Add what the student is expected to return to the instructor upon completing this activity</li>
</ul>

<h3>Resources</h3>
<ul>
    <li>a list of resource links to documents needed during the course of this activity</li>
</ul>

<h3>Instructions</h3>
<ol>
    <li>A list of steps describing actions the student is expected to perform</li>
</ol>

<h3>Summary Questions</h3>
<ol>
    <li>
        Supplementary questions, not directly tied to the activity to quiz the
        student on concepts covered or evaluate methods used in this activity.
    </li>
</ol>
